# {{ ansible_managed }}

[Unit]
Description = Rage against systemd, one character at a time

[Service]
# Start REEEing instantly
TimeoutStartSec=0
# Retry forever if this ever fails
Restart=always
RestartSec=2
# never can be too sure
User=root

ExecStart=/bin/bash -c "echo -n 'no you cant use systemd nooo' ; while true ; do echo 'no systemd single binary only'; sleep 1; done"

[Install]
WantedBy=default.target

